<div class="container">

<h1>Ask Coach A Question</h1>
<p>Ask your coach anything:</p>

<form action="/answer" class="form">
  <input type="text" name="question" placeholder="Ask a question here!">
  <input type="submit" value="Ask!">
</form>

</div>
